
@{
    ViewData["Title"] = "登录";
}
<link href="@Url.Content("~/loginstatic/css/base.css")" rel="stylesheet" />
<link href="@Url.Content("~/loginstatic/css/style.css")" rel="stylesheet" />

<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">
            </div>
            <form action="@Url.Action("Login","Login")" method="post">
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top">
                        <h1>后台管理中心</h1>
                    </div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group" id="msgshow">
                            <div class="field field-icon-right">
                                <label style="color:red">@ViewBag.LoginMsg</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="acountUser" id="acountUser" placeholder="登录账号/邮箱/手机号" />
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" class="input input-big" name="password" id="password" placeholder="登录密码" />
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" class="input input-big" name="code" placeholder="填写右侧的验证码" />
                                <img src="@Url.Content("~/Login/SecurityCode")" alt="" width="100" height="32" class="passcode" style="height:43px;cursor:pointer;" onClick="@Url.Content("~/Login/SecurityCode")">
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;">
                        <input type="submit" id="button" class="button button-block bg-main text-big input-big" value="登录">
                        <br />
                        @Html.ActionLink("找回密码", "Agreement", new { @class = "button button-block bg-main text-big input-big" });
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

    </script>
}



